/*トップページ*/
.slide {
  position: relative; 
  position: absolute;
  width: 100%;
  min-height: 100vh;
  background-color: white;
  }
  
  .slide1 {
    position: absolute;
    display: none;
    width: 100%;
    min-height: 100vh;
    background-color:#111111;
  }

  .background1 {
    color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .portplus-logo {
    padding-top: 10%;
    width: 34%;
    height: 34%;
  }

  .slide2 {
    position: absolute;
    display: none;
    width: 100%;
    min-height: 100vh;
    background-color: #f5f5f5;
  }

  .slide3 {
    position: absolute;
    width: 88%;
    justify-content: center;
    min-height: 100vh;
    background-color: #f5f5f5;
  }

  .home-img {
    position: absolute;
    top: -55px;
    right: 4px;
    opacity: 0.8;
    }

  .home-img2 {
    position: absolute;
    top: 170px;
    left: 5%;
    width: 90%;
    z-index: 100;
  }

  header {
    position: relative;
    padding-bottom: 10px;
    background-color: white;
    width: 80%;
    height: 15vh;
    margin-right: auto;
    margin-left: auto;
    position:relative;
    display: block;
    box-shadow: 3px 3px 15px #aaaaaa;
  }

  .home-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 9vh;
    margin-left: 23%;
    position: absolute;
  }

  .home {
    background-color: rgb(255, 255, 255, 0.7);
    padding: 90px 0px 150px 250px;
  }

  .home p {
    color: black;
    font-size: 15px;
    font-family: '小塚ゴシック Pr6N';
    font-size: 33px;
    font-weight:bold;
    margin-bottom: 25px;
  }

  .home h1 {
    color: black;
    font-size: 15px;
    font-family: '小塚ゴシック Pr6N';
    font-size: 70px;
    line-height: 70px;
  }

  .home h1 span {
    color: #6500fc;
  }

  .make-up {
    margin-top: 6vh;
    margin-left: 46vw;
    z-index: 120;
    font-family: 'Arial Black';
    font-size: xx-large;
  }

  .make-up li {
    display: inline-block;
    background: linear-gradient(to right, #f7e041 50%, transparent 50%);
    background-position: 120% bottom;
    background-size: 220% 40%;
    background-repeat: no-repeat;
    transition: background-position 0.6s;
  }
  .make-up li:hover {
    background-position: 0% bottom;
  }

  .make {
    color: #6500fc;
  }

  .scroll {
    position: fixed;
    transform: rotateZ(90deg);
    left: 5px;
    top: 75%;
    z-index: 200;
  }

  .scroll a {
    position: relative;
    color: #1f1d1d;
    font-family: 'Arial Black';
    font-size: x-large;
  }

  .scroll a::before {
    content: '';
    position: absolute;
    bottom: -2px;
    right: 0;
    display: block;
    width: 0;
    height: 2px;
    background-color: #1f1d1d;
    transition: width 0.3s;
  }

  .scroll a:hover::before {
    left: 0;
    width: 190%;
  }
  
  .portplus-logo2 {
    height: 80px;
    width: 80px;
    margin: 18px 0 0 20px;
  }
  
  .header-left {
    float: left;
    display:flex;
  }

  .header-left ul {
    margin-top: 44px;
  }

  .header-left li {
    display: inline;
    margin-left: 24px;
    color: black;
    font-size: 15px;
    font-family: '小塚ゴシック Pr6N';
    font-size: 20px;
    font-weight:bold;
  }

  .sample {
    color: #111111;
  }

.header-right {
  float: right;
  display:flex;
}

.header-right ul {
  margin-top: 44px;
}

.header-right li {
  display: inline;
  margin-right: 30px;
  font-size: 15px;
  font-family: 'ヒラギノ角ゴ Pro';
  font-size: 20px;
  font-weight:bold;
}

  .login-color {
    color: #111111;
  }

  .new {
  background-color: #6500fc;
  color: white;
  padding: 13px 22px 13px 22px;
  border-radius: 5px;
}

/*SERVICE*/
  .home-box2 {
    height: 85vh;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 8vh;
    border-bottom: #919090 solid 2px ;
  }

  .service-box {
    width: 100%;
  }

  .service {
    padding: 0.1rem 2rem;
    border-left: 10px solid #6500fc;
    margin-left: 8%;
    margin-top: 14px;
    position: absolute;
  }

  .service p {
    font-family: '小塚ゴシック Pr6N';
    font-size: xx-large;
    font-weight: bold;
    color: #111111;
    text-align: center;
    white-space: nowrap;
  }

  .service h1 {
    font-family: '小塚ゴシック Pr6N';
    font-size: x-large;
    font-weight: bold;
    color: #2aab9f;
    margin-left: 20%;
  }

  .service-box3 {
    height: 88vh;
  }

  .service-img img {
    position: absolute;
  }

  .service-list {
    margin-bottom: 20px;
    transition: all .3s;
  }

  .service-list:hover {
    transform: translateY(-5px);
  }

  .service-img2 {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 87vw;
    margin-left: auto;
    margin-right: auto;
    top: 20%;
  }

  .service-img-cof {
    display: flex;
    flex-direction: column;
    text-align: center;
    display: block;
    max-width: 20%;
  }

  .service-img-cof h1 {
    margin-top: 10%;
    font-size: 22px;
    font-family: '小塚ゴシック Pr6N';
    font-weight: bold;
    color: #111111;
    margin-bottom: 10px;
  }

  .service-h2 {
    word-break:break-word;
    font-size: 12px;
    color: #111111;
  }

  .service-img-cof h2 {
    white-space: pre-line;
  }

  .service-que {
    height: 110vh;
  }

  .service-que2 {
    position: absolute;
  }

  .design1 {
    margin-top: 4vh;
    margin-left: 2vw;
  }

  .design2 {
    margin-left: 85%;
  }


  .background2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: black;
    margin-top: 55px;
  }
.background2 p {
  font-family: 'Dancing Script', cursive;
  margin-top: 7%;
  margin-bottom: 30px;
  font-size: 70px;
}

  .port-text {
    font-size: 80px;
    font-weight: bold;
    font-family: 'Osaka';
  }

  .background2 h2 {
    font-family: cursive, 'ヒラギノ明朝 ProN W3';
    font-weight: 100;
  }

  .session {
    margin: 30px 18px 0 0;
    font-size: 20px;
    display: flex;
  }

  .login {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    background: #f7f7f7;
    border-left: solid 6px #5c5c5c;
    color: #111111;
    font-weight: bold;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    margin-right: 10px;
    transition: background-color 0.4s;
  }
  .login:active {
    box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
    transform: translateY(2px);
  }
  .login:hover {
    background-color: #5c5c5c;
  }

  .sign-up {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    background: #f7f7f7;
    border-left: solid 6px #5c5c5c;
    color: #111111;
    font-weight: bold;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    margin-left: 10px;
    transition: background-color 0.4s;
  }
  .sign-up:active {
    box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
    transform: translateY(2px);
  }
  .sign-up:hover {
    background-color: #5c5c5c;
  }

  .logout {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    background: #f7f7f7;
    border-left: solid 6px #5c5c5c;
    color: #111111;
    font-weight: bold;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    margin-right: 10px;
    transition: background-color 0.4s;
  }
  .logout:active {
    box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
    transform: translateY(2px);
  }
  .logout:hover {
    background-color: #5c5c5c;
  }

  /*新規登録*/
  .registration-main {
    width: 100%;
    min-width: 800px;
    display: flex;
    justify-content: center;
  }

.sign-up-page {
  width: 80%;
  padding-bottom: 20px;
  color: white;
}

  .sign-up-logo1 {
    text-align: center;
    position: relative;
  }

  .sign-up-logo2 {
    width: 200px;
    height: 66px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;  
    top: 70px;
    }

  .sign-up-message p {
    color: white;
    text-align: center;
  }

  .sign-up-message h2 {
  position: absolute;
  transform: rotate(-29deg);
  top: 48px;
  font-size: 30px;
  font-family: 'Merriweather Sans', sans-serif;
  font-family: 'Shadows Into Light', cursive;
  color: white;
  }

  .form-group {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 20px;
  }

  .form-text-wrap {
    width: 100%;
    height: 20%;
  }

  .form-text {
    font-size: 14px;
    font-weight: bold;
  }

  .input-default {
    width: 100%;
    margin-top: 5px;
    height: 48px;
    padding: 10px 16px 8px;
    border-radius: 3px;
    border: 1px solid #ccc;
    background: #fff;
    font-size: 16px;
    resize: none;
  }
  
  .input-genre {
    width: 100%;
    margin-top: 5px;
    height: 48px;
    padding: 10px 16px 8px;
    border-radius: 3px;
    border: 1px solid #ccc;
    background: #fff;
    font-size: 16px;
    resize: none;
  }

  .input-profile {
    width: 100%;
    margin-top: 5px;
    height: 200px;
    padding: 10px 16px 8px;
    border-radius: 3px;
    border: 1px solid #ccc;
    background: #fff;
    font-size: 16px;
    resize: none;
  }

  .input-birth-wrap {
    display: flex;
    flex-wrap: wrap;
  }
  
  .input-birth-wrap select {
    width: 75px;
    margin-top: 5px;
    height: 45px;
    padding-left: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    font-size: 12px;
    cursor: pointer;
  }

  .input-birth-wrap p {
    line-height: 60px;
    padding: 0 5px;
  }

  .sign-up-btn {
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
  }

  .sign-up-color-btn {
    width: 100%;
    background: #5a7d95;
    border: 1px solid #5a7d95;
    color: #fff;
    line-height: 50px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    justify-content: center;
  }

  .session-login-message {
    text-align: center;
    color: white;
    padding-bottom: 10px;
  }

  .session-login-btn {
    width: 40%;
    background: #8eacc0;
    border: 1px solid #8eacc0;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    height: 50px;
  }


  .footer-logo {
    text-align: center;
  }

  .sign-up-logo3 {
    width: 200px;
    height: 66px;
    left: 0;
    right: 0;
    margin: auto;  
    margin: 50px 0
    }

  
/*フッター*/
footer {
  position: relative;
  height: 30vh;
  width: 100vw;
  background-color: #1f1d1d;
}

.footer-logo {
  position: absolute;
  left: 8%;
  top: 0;
  bottom: 0;
  margin: auto;
}

.footer-list {
  float: right;
  display: flex;
  margin: 3.5% 17% 0 0;
}

.footer-list li {
  color: #f5f5f5;
  font-family: 'Arial Black';
  font-size: xx-large;
  font-weight: bold;
  margin-left: 10%;
  letter-spacing: 0.5px;
}

.footer-sample {
  color: #f5f5f5;
}

.footer-font {
  position: absolute;
  right: 9.5%;
  top: 64%;
  font-size: large;
  color: #f5f5f5;
}